pkgbase = sequoia-sq
	pkgdesc = Command-line frontends for Sequoia
	pkgver = 0.34.1
	pkgrel = 1
	url = https://sequoia-pgp.org
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = i686
	groups = sequoia
	license = LGPL-2.0-or-later
	makedepends = capnproto
	makedepends = cargo
	makedepends = clang
	makedepends = git
	depends = bzip2
	depends = libbz2.so
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = nettle
	depends = libnettle.so
	depends = libhogweed.so
	depends = openssl
	depends = sqlite
	replaces = sequoia
	options = !lto
	source = sequoia-ipc-v0.34.1.tar.gz::https://gitlab.com/sequoia-pgp/sequoia/-/archive/ipc/v0.34.1/sequoia-ipc-v0.34.1.tar.gz
	validpgpkeys = D2F2C5D45BE9FDE6A4EE0AAF31855247603831FD
	validpgpkeys = 8F17777118A33DDA9BA48E62AACB3243630052D9
	sha256sums = 5fe7d9402532ebfcbec3cb3999d083105338a0afc52456fa4ee4032403fc762b

pkgname = sequoia-sq
